<ion-header>
	<ion-navbar>
		<ion-title> Membership Card </ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding *ngIf="customer.hasCustomer()">

	<div *ngIf="!flipped">
		<p>Welcome, {{customer.customer.firstName}} {{customer.customer.lastName}}</p>
		<button ion-button (click)="flip()" block>Flip</button>
	</div>

	<div *ngIf="flipped">
		<qr-code [value]="customer.customer.preferredCustomerProfileId" [size]="250" [level]="'H'"></qr-code>
		<button ion-button (click)="flip()" block>Flip</button>
	</div>

</ion-content>

<ion-footer>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<button ion-button block (click)="logout($event)">Logout</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button block (click)="edit($event)">Edit Profile</button>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-footer>